{
    /**!
     *
     * Consistent monitoring (fake service) ports
     *
     * Formats:
     *   80                 -- Listen to the TCP port 80
     *   udp:2302           -- Listen to the UDP port 2302
     *   tcp:21             -- Listen to the TCP port 21
     *   tcp:21@127.0.0.1   -- Listen to the TCP port 21 @ IP address 127.0.0.1
     *   tcp:21@127.0.0.1|a -- Listen to the TCP port 21 @ IP address 127.0.0.1
     *                         with setting 'a'
     *
     */
    "listens": [
        "udp:8088@0.0.0.0",
        "tcp:8088@0.0.0.0",
        "tcp:8087@127.0.0.1",
        "tcp:8086",
        "tcp:8080",
        "file:file_monitering_config.json"
    ],

    /**!
     *
     * Attempts limit
     *
     * Count connect attempts for the client which
     * trying to connect our fake service port, mark
     * that client for attention when it's over the
     * limit thershold within given time
     *
     */
    "attempt_timeout": 1,
    "attempt_max_bytes": 512,
    "attempt_thershold": 3,
    "attempt_expire": 3600,
    "attempt_restrict": 86400,

    /**!
     *
     * Commands
     *
     * Commands will be execute orderly when certain
     * event is triggered
     *
     * Formats:
     *   ["iptables", "-A", "INPUT", "-s", "$((IP))", "-j", "DROP"]
     *      Assign each segment as an array item
     *
     */
    "commands": {
        "On.Server.Up": [],
        "On.Server.Down": [],
        "On.Client.Marked": [],
        "On.Client.Marked.Out": [],
        "On.Client.Hitting": [],
        "On.Port.Registered": [
            ["iptables", "-A", "INPUT", "-p", "$((Protocol))", "--dport", "$((Port))", "-j", "ACCEPT"]
        ],
        "On.Port.Unregistered": [
            ["iptables", "-D", "INPUT", "-p", "$((Protocol))", "--dport", "$((Port))", "-j", "ACCEPT"]
        ]
    },

    /**!
     *
     * Status interface
     *
     * Open up a remote accessable HTTP server as an
     * interface of server status
     *
     * Set port to 0 to disable
     *
     *
     * Format of accounts:
     *   "PASSWORD": ["Permission1", "Permission2", "Permission3"...]
     *
     * Available permission is:
     *   "clients"    -- Add, remove and see inbound clients
     *   "sessions"   -- See active sessions
     *   "logs"       -- See recent logs
     *
     * Notice:
     *   Anyone had a valid password can login to the server interface
     *   and see all inbound clients
     *
     */
    "status_interface": "0.0.0.0",
    "status_port": 0,
    "status_tls_certificate": "",
    "status_tls_certificate_key": "",
    "status_accounts": {
        "The password of a manage account": [
            "clients",
            "sessions",
            "logs"
        ],
        "AAA": []
    },

    /**!
     *
     * !!!!!!!!!!!!! NOT IMPLEMENTED !!!!!!!!!!!!!
     *
     * Synchronizing mark and mark out commands
     *
     */
    "synchronize_interface": "0.0.0.0",
    "synchronize_port": 8191,
    "synchronize_certificate": "",
    "synchronize_certificate_key": "",
    "synchronize_passphrase": "asdjiwu9fp,puMU&)#Y({#$NEU&$({NWF",
    "synchronize_with": {
        "192.168.1.1:8191": "IMmui3-mUM80fum*m*YN{f8wn8s80",
        "192.168.1.2:8191": "0nyt68s8N79y3r&_&n03GF44gt4wd"
    }
}